/* Masukkan CSS Anda di sini */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* Atur gaya header Anda di sini */
  }
  
  main {
    padding: 20px;
  }
  
  .detail-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .detail-img {
    flex: 1;
    margin-right: 20px;
  }
  
  .detail-img img {
    max-width: 100%;
    height: auto;
  }
  
  .detail-content {
    flex: 3;
  }
  
  .detail-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detail-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Mungkin Anda perlu menambahkan lebih banyak gaya sesuai kebutuhan desain Anda */
  